<?xml version="1.0"?>
<config>
    <modules>
        <Acme_Zygourator>
            <version>0.1.0</version>
        </Acme_Zygourator>
    </modules>

    <global>
        <models>
            <acme_zygourator>
                <class>Acme_Zygourator_Model</class>
            </acme_zygourator>
        </models>
    </global>

    <frontend>
        <routers>
            <zygourator>
                <use>standard</use>
                <args>
                    <module>Acme_Zygourator</module>
                    <frontName>zygourator</frontName>
                </args>
            </zygourator>
        </routers>
    </frontend>
</config>